# Vérification

## VLAN

```
show vlan brief
```

## Trunks

```
show interfaces trunk
```

## Interfaces

```
show ip interface brief
```

## Routage

```
show ip route
```

## DHCP

```
show ip dhcp binding
show ip dhcp pool
```

## Tests

Depuis chaque machine :

```
ping 192.168.10.254
ping 192.168.20.254
ping 192.168.30.254
ping 192.168.99.1
```
